<script>
    export default{
        name: 'FilterButton',
        props: {
            name:{
                type: String,
                required: true
            },
            
        },
        // setup(){
        //     function filterDoneTask(tasks){
        //         return tasks.filter((element) =>{
        //             element.match(element.isComplete == false);
        //         });
        //     }
        // }
    }
</script>

<template>
    <button>{{name}}</button>
</template>