<script setup>

    import { ref } from "vue";
    const task = ref("");

    function handleChange(e){
        switch (e.target.name) {
            case "task":
                task.value = e.target.value;
                break;
        }
    }

    function onSubmit(e){
        console.log({task: task.value});
        //Faire appel api json server
        //https://www.section.io/engineering-education/building-vuejs-app-with-json-server-and-axios/
    }
</script>

<template>
   <form @submit.prevent="onSubmit">
        <input 
            @input="handleChange"
            :value="task"
            type="text"
            name="task"
        />

        <input type="submit" value="Add Task" class="btn"/>
   </form>
</template>


