<script>
    export default {
        name: 'TodoList',
        props: {
            id: {
                type: Number,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            isComplete: {
                type: Boolean,
                default: false
            }
        }
    }
    
</script>

<template>
    <ul>
        <li v-if="(isComplete == true)" class="isDone">{{title}}</li>
        <li v-else>{{title}}</li>
    </ul>
</template>


