<script setup>
  import TodoList from './components/Todo.vue'
  import FilterButton from './components/Button.vue'
  import FormList from './components/Form.vue'
  import {ref} from "vue"
  // import axios from "axios";

  const tasks = [
    {
      id: 1,
      title: "Réviser Vue.js",
      isComplete: false
    },
    {
      id: 2,
      title: "Finir écriture partie squelette FYC",
      isComplete: true
    }, 
    {
      id: 3,
      title: "Avancer projet web temps réel",
      isComplete: true
    }
  ]

  const filteredTasks = ref(tasks);
  // let playOnce = true;
  let isFiltered = false;

  function filterDoneTask(param){

    let result = param.filter(function (el){
      return el.isComplete == false
    });

    filteredTasks.value = result;
    isFiltered = true;
  }

  function displayAllTasks(){
    filteredTasks.value = tasks;
    isFiltered = false;
  }
  // console.log(typeof(filteredTasks));

  // function addTask(){
  //   alert("coucou")
  // }

  // function handleChange(){
  //   console.log("coucuou")
  // }

  // let tasks;

  // async function callAPI() {
    // if(playOnce){
    //   try {
    //     const res = axios.get(`http://localhost:3000/tasks`);
    //     // this.tasks = res.data;
    //     // console.log(res.data);
    //     tasks = res.data;
    //     console.log(tasks);
    //     playOnce = false;
    //   } catch (error) {
    //     console.log(error);
    //   }
    // }
  // }

  // callAPI();
  // console.log(tasks);
</script>

<template>
  <h1>To Do list</h1>

  <FormList />

  <TodoList
    v-for="(task) in filteredTasks" :key="task.title" v-bind="task"
  />

  <FilterButton name="Afficher les tâches à faire" @click="filterDoneTask(tasks)"/>
  <FilterButton v-show="isFiltered" name="Afficher toutes les tâches" @click="displayAllTasks()"/>
</template>


<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .isDone{
    text-decoration: line-through;
  }
</style>
